:root {
    --base_bg_color: #ffffff;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Carlito", serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5vw;
    border-radius: 75px;
    backdrop-filter: blur(15px);
    padding: 20px;
    background-color: var(--base_bg_color);
    align-items: center;
}

.header-container > *:last-child {
    margin-left: auto;
}

.link-logo:hover {
    animation: shake 0.5s ease;
}

.header-list, .header-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-list-item-link, .header-register-link {
    color: #22253b;
    font-size: 12px;
}

.header-list-item-link:hover, .header-register-link:hover {
    color: #ef5425;
}

.btn {
    border: none;
    cursor: pointer;
    border-radius: 34px;
    background: #38bff2;
    color: #ffffff;
    font-size: 12px;
    padding: 1vw 4vh;
    transition: 0.2s;
}

/*Кнопки*/

.btn:hover {
    background: #ef5425;
}

.btn:active {
    transform: scale(0.95);
}

.btn span {
    display: inline-block;
    vertical-align: middle;
}

.hero-container-btn-ico {
    background: url('../img/btn_arrow.svg') no-repeat center center;
}

.btn-sign_in-btn-ico {
    background: url('../img/arrow_btn_in.svg') no-repeat center center;
}

.btn-ico {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.hero-container-btn {
    background: #ef5425;
    min-width: 320px;
    min-height: 70px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero-container-btn:hover {
    background: #38bff2;
}

/*Контейнеры*/

.hero {
    background: linear-gradient(0.25turn, var(--base_bg_color), #f6f8f9, #eff5f7);
}

.section-title {
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
}

.hero-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-image: url("../img/hero_img.png"), radial-gradient(
            circle at calc(90% - 165px),
            var(--base_bg_color) 0, var(--base_bg_color) 200px,
            #edf4f7 200px, #f6fafa 290px,
            #eff5f7 291px, #f6f8fa 450px,
            #ecf4f5 451px, #f6f8f9 700px,
            #eff3f5 701px, #faf9fc 80%,
            var(--base_bg_color) 50%, var(--base_bg_color) 100%
    );
    background-repeat: no-repeat;
    background-position: 90% 40%;
    border-radius: 75px;
}

.hero-content {
    max-width: 50%;
}

.hero-content-title b {
    font-style: italic;
}

.hero-content-title span {
    color: #ef5425;
    font-weight: bolder;
}

.hero-content-text {
    max-width: 55%;
    color: #22253b;
    font-size: 16px;
    line-height: 23px;
    border-top: 1px solid #dedede;;
    margin-bottom: 20px;
}

.video-container {
    /*position: relative;*/
    max-width: 100%;
    margin: 0 auto;
}

.video-container-video {
    /*position: absolute;*/
    width: 50%;
    height: auto;
}

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(-10deg) scale(1.1);
    }
    50% {
        transform: rotate(10deg) scale(1.1);
    }
    75% {
        transform: rotate(-5deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@media screen and (min-width: 2560px) {
    .btn {
        padding: 20px 40px;
    }
}